$ice_blue: #0C78C5;
$ice_dark_blue: #3E4756;
$ice_yellow: #fce037;
$ice_green: #26bf42;

html, body {
    background-color: black;
}

.flex-container {
        display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // height: 100vh;
    // padding: 20px;
    // box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 10px; /* Adjust the gap as needed */
  }
  
  .box {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    margin: 5px;
    transition: transform 0.1s ease; /* Add a transition for the transform property */
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .selected {
    background-color: #0066cc;
    transform: scale(1.3); /* Apply a slight scale when the "selected" class is present */
  }

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

body {
    background: #black;
    color: #666;
    font-family: 'Oxygen', Arial, sans-serif;
    margin: 0;

    &.darkMode {
        background: #000;
        color: white;
    }
}

a,
a:visited {
    color: $ice_blue;
}

table {
    margin: auto;

    th {
        padding: 5px;

        span {
            margin-left: 5px;
        }
    }

    tr:nth-child(2n + 2) {
        background: #eee;

        .darkMode & {
            background: #333;
        }
    }

    td {
        padding: 5px;
    }
}

.fa-circle-check {
    color: $ice_green;
    margin-right: 2px;
}


.partial-warn {
    color: $ice_yellow;
    margin-right: 2px;
    font-size: 16px;
}

h2 {
    color: $ice_blue;
    margin-top: 0;
    margin-bottom: 8px;
}

h4 {
    margin: 0 0 10px;
    text-align: center;
}

button {
    height: 42px;
    min-width: 42px;
    font-size: 28px;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0px 9px;
}

.progressBarContainer {
    @extend %progressBarContainer;
}


#ice-age {
    padding: 60px 12px 30px;
}

.ReactModal__Content {
    .darkMode & {
        color: white !important;
        background-color: black !important;
    }
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

.Toggle {
    margin-bottom: 20px;
}

.Segments {
    display: flex;

    @include for-phone-only {
        flex-direction: column;
    }
}

#HomeNav {
    max-width: 100px;
}

// Keeping in case I bring progress bar back
%progressBarContainer {
    height: 6px;
    width: 100%;
    box-sizing: border-box;

    .progressBar {
        height: 100%;
        background: $ice_yellow;
        /* Old browsers */
        background: -moz-linear-gradient(left, $ice_yellow 0%, $ice_green 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $ice_yellow 0%, $ice_green 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $ice_yellow 0%, $ice_green 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$ice_yellow', endColorstr='$ice_green', GradientType=1);
    }
}

[data-complete=true] {
    .progressBar {
        background: $ice_green;
    }
}